{% extends 'base.html.twig' %}

{% block body %}
    <h1>TypeMail list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeMail in typeMails %}
            <tr>
                <td><a href="{{ path('typemail_show', { 'id': typeMail.id }) }}">{{ typeMail.id }}</a></td>
                <td>{{ typeMail.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('typemail_show', { 'id': typeMail.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('typemail_edit', { 'id': typeMail.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typemail_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
